@import "custom.scss";

html, body { height: 100%; }
body {
    background-color: #121416;
    margin: 0; 
    font-family: "Century Gothic",sans-serif; 
}

.bg-block{
    background-color: #2f363c ;
}

div{
    color: white;
}
a{
    color: white;
}
a:hover{
    color: #48a391;
}
.horisontal-centered{
    margin-left: auto;
    margin-right: auto;
}
.w-97{
    width: 97%
}
.border-top{
    border-top: 1px!important;
    border-top-style: solid!important;
    border-top-color: #121416!important;
}
.border-left{
    border-left: 1px!important;
    border-left-style: solid!important;
    border-left-color: #121416!important;
}
.border-right{
    border-right: 1px!important;
    border-right-style: solid!important;
    border-right-color: #121416!important;
}
.border-bottom{
    border-bottom: 1px!important;
    border-bottom-style: solid!important;
    border-bottom-color: #121416!important;
}