body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #8E24AA, #b06ab3);
    color: #D7D7EF;
    font-family: 'Lato', sans-serif;
  }
  
  h2 {
    margin: 50px 0;
  }
  
  
  
  .file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 450px;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    transition: 0.2s;
   
  }
  
  .choose-file-button {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .file-message {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    
  }
  
  .mt-100{
      margin-top:100px;
  }

  [contenteditable=true]:empty:before{
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
  }
  
  div[contenteditable=true] {
    border: 1px dashed #AAA;
    width: 290px;
    padding: 5px;
  }
  
  pre {
    background:#EEE;
    padding:5px;
    width: 290px;
  }

  .textLink{
    background-color: #f45e61;
    color:#fff;
    padding:10px;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .textLink::before{
    content: "\f093";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #fff;
      font-size: large;
      margin-right: 10px;
  }

  .text-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .centered {
    font-family: sans-serif;
    font-size: 1.3em;
    text-align:center;
  }
  
  .dropzone {
      height: 200px;
      display: table;
      width: 100%;
      background-color: #eee;
      border: dotted 1px #aaa;
  }
  
  input[type="file"]{
    display:none;
  }