<div class="d-flex bg-block rounded-4 align-items-stretch h-100">
  <div class="" style="width: 65%">
    <!--
    <img width="100%" src="{{ Image }}" />
    <form (ngSubmit)="onSubmit()" #uploadForm="ngForm" class="p-3">
      <input
        type="file"
        class="border-0"
        name="image"
        (change)="onFileSelected($event)"
        #fileUpload
        accept=".jpg, .png"
        multiple
      />

      <br />
      <br />
      <button type="submit" class="border-0">
        <div>Upload</div>
      </button>
    </form>
  -->

    <app-drag-n-drop-upload style="padding-top: 30px"></app-drag-n-drop-upload>
  </div>
  <div
    class="border-left"
    style="width: 35%; border-left: 1px; border-left-style: solid"
  >
    <div class="flex-column w-100">
      <div style="width: 85%" class="pt-2 d-flex flex-row">
        <div class="p-1">
          <img class="rounded-5" width="24px" src="{{ avatar }}" />
        </div>
        <div class="p-1">&#64;FernDragonborn</div>
      </div>
      <div
        placeholder="Напишіть текст до альбому..."
        class="w-100 p-2 rounded-2 border border-0"
        contenteditable="true"
        style="
          height: 10rem;
          overflow-y: auto;
          overflow-x: auto;
          overflow-wrap: break-word;
        "
        aria-placeholder="a"
      ></div>
      <div class="border-top d-flex flex-row justify-content-sm-around">
        <div role="button" class="ps-3 pe-2 py-1">Відкласти</div>
        <div class="border-left"></div>
        <div role="button" class="ps-2 pe-3 py-1">Запостити</div>
      </div>
    </div>
  </div>
</div>
