<form class="form" [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
  <div class="example-container">
    <mat-form-field>
      <mat-label>Enter your login</mat-label>
      <input
        matInput
        formControlName="login"
        placeholder="sasha_lobanok"
        required
      />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>
  <button type="submit" class="button btn btn-primary m-1">Save changes</button>
</form>
