<div
  class="d-flex position-absolute top-50 start-50 translate-middle"
  style="width: 80%"
>
  <div style="width: 33%">
    <h4 class="ps-2">Albums:</h4>
    @if(isShowAlbums && albums.length > 0){
    <div class="ps-2" style="width: 40%">
      <div class="list-group" *ngFor="let album of albums">
        <button
          (click)="onSelectedAlbum(album)"
          type="button"
          class="list-group-item list-group-item-action"
        >
          {{ album.title }}
        </button>
      </div>
      <div>Album chosen: {{ albumDto.title }}</div>
    </div>
    } @else if(isShowAlbums && albums.length === 0){
    <div>
      <h3>Album list is empty</h3>
    </div>
    } @else {
    <div class="ps-2">
      <h3>Please log in before uploading</h3>
    </div>
    }
    <div class="d-flex flex-column p-2" style="width: 95%">
      <input
        class="p-1 bg-block border-0 rounded-2"
        [(ngModel)]="albumTitle"
        placeholder="Ім'я альбому"
        type="text"
      />
      <div class="pt-2 justify-content-center" style="width: 100%">
        <button
          (click)="createAlbum()"
          type="button"
          class="btn"
          style="background-color: #48a391; color: white"
        >
          Створити альбом
        </button>
      </div>
    </div>
  </div>
  <div style="width: 67%">
    <upload-component [albumId]="albumDto.albumId"></upload-component>
  </div>
</div>
<gallery-component [albumDto]="albumDto"></gallery-component>
