<div class="d-flex flex-row w-50 horisontal-centered bg-block">
  <div class="rounded-5" style="width: 33%">
    <div class="" style="background-color: lightgray">
      <svg
        fill="none"
        width="100%"
        viewBox="0 0 18 17"
        xmlns="http://www.w3.org/2000/svg"
        class="h-1/2 w-1/2"
      >
        <path
          d="M1.5 15.6667C3.44649 13.6021 6.08918 12.3333 9 12.3333C11.9108 12.3333 14.5535 13.6021 16.5 15.6667M12.75 5.25C12.75 7.32107 11.0711 9 9 9C6.92893 9 5.25 7.32107 5.25 5.25C5.25 3.17893 6.92893 1.5 9 1.5C11.0711 1.5 12.75 3.17893 12.75 5.25Z"
          stroke="#121416"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
        ></path>
      </svg>
    </div>
  </div>
  <div class="d-flex flex-column" width="66%">
    <div class="d-flex flex-row">
      <div class="px-2 align-self-center">&#64;Vadim</div>
      <button
        class="btn rounded-5 align-self-center px-2"
        style="background-color: #48a391; color: white"
      >
        Слідкувати
      </button>
    </div>
  </div>
</div>
