<div class="bg-general text-color">
  <div class="bg-block rounded-top-4 horisontal-centered" style="width: 470px">
    <nav class="px-3 pt-3 d-flex" style="height: 3rem">
      <div class="px-2 d-flex flex-column align-items-end" style="height: 100%">
        <a routerLink="feed" class="link-underline link-underline-opacity-0"
          >Стрічка
        </a>
        <div class="menu-underline"></div>
      </div>
      <div class="px-2 d-flex flex-column align-items-end" style="height: 100%">
        <a
          routerLink="feed/following"
          class="align-self-center link-underline link-underline-opacity-0"
          >Мої автори
        </a>
        <div class="menu-underline"></div>
      </div>
      <div class="px-2 d-flex flex-column align-items-end" style="height: 100%">
        <a
          routerLink="feed/recent"
          class="align-self-center link-underline link-underline-opacity-0"
          >Нові
        </a>
        <div class="menu-underline"></div>
      </div>
    </nav>

    <div class="border-top"></div>
    <div class="w-97 horisontal-centered">
      <div class="py-3 d-flex flex-row">
        <div class="">
          <img class="rounded-5" width="30px" src="{{ avatar }}" />
        </div>
        <div class="p-1" style="margin-top: auto; margin-bottom: auto">
          &#64;FernDragonborn
        </div>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="{{ images[0].photoData }}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="{{ images[1].photoData }}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="{{ images[2].photoData }}"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div style="width: 20%">
        <app-like-palette></app-like-palette>
      </div>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </div>
    </div>

    <div class="mt-2 border-top"></div>
    <div class="w-97 horisontal-centered">
      <div class="py-3 d-flex flex-row">
        <div class="">
          <img class="rounded-5" width="30px" src="{{ avatar }}" />
        </div>
        <div class="p-1" style="margin-top: auto; margin-bottom: auto">
          &#64;FernDragonborn
        </div>
      </div>
      <div id="carouselExampleIndicators2" class="carousel slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="{{ images[0].photoData }}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="{{ images[1].photoData }}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="{{ images[2].photoData }}"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators2"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators2"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div style="width: 20%">
        <app-like-palette></app-like-palette>
      </div>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </div>
    </div>
  </div>
</div>
