.menu-underline{
    display:none!important;
    margin-top: auto!important;
    margin-left: auto!important;
    margin-right: auto!important;
    width: 100%!important;
    height: 3px!important; 
    background-color: #48a391!important
}
a:hover + .menu-underline {
    display: block!important;
}