<div
  class="position-absolute top-50 start-50 translate-middle"
  style="width: 90%"
>
  <div class="d-flex flex-row bg-block rounded-4 h-100">
    <div style="width: 65%">
      <img class="rounded-start-4 w-100" src="{{ Image }}" />
    </div>
    <div style="width: 35%">
      <div class="d-flex flex-column border-left h-100">
        <div class="w-100 pt-2 d-flex flex-row">
          <div class="p-1">
            <img class="rounded-5" width="24px" src="{{ avatar }}" />
          </div>
          <div class="p-1">&#64;FernDragonborn</div>
        </div>
        <div
          class="w-100 p-2 rounded-2 border border-0"
          style="
            height: 10rem;
            overflow-y: auto;
            overflow-x: auto;
            overflow-wrap: break-word;
          "
        >
          Текст посту
        </div>
        <div class="border-top" style="margin-top: auto !important">
          <div class="ps-2" style="width: 30%">
            <app-like-palette></app-like-palette>
          </div>
        </div>
      </div>
      <!--<div class="px-2 d-flex flex-column align-items-end" style="height: 100%">
        <a routerLink="feed" class="link-underline link-underline-opacity-0"
          >Стрічка
        </a>
        <div
          class="menu-underline"
          style="
            margin-top: auto !important;
            width: 100% !important;
            height: 3px !important;
            background-color: #48a391 !important;
          "
        ></div>
      </div>-->
    </div>
  </div>
</div>
